  
  
  
  
  form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    min-height: 600px;
    margin: 100px auto;
}
form h1{
    text-align: center;
    color: #333;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size:50px;
}

label{
    display: block;
    margin: 0px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
input[type="date"], select{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.rating{
    display:flex;
    flex-direction:row-reverse;
    justify-content:flex-end;
}

.rating input{
    display:none;
}

.rating label{
    font-size:50px;
    color:#ccc;
    cursor:pointer;
}

.rating input:checked ~ label{
    color:gold;
}
body{
    background-color: #5f0a11;
  background-image: radial-gradient(circle, #000000 0%, #a80c0c 100%);
}

form button{
  position: center;
    background-color: #5f0a11;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 700px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}

form button:hover{
    background-color: #da4f4f;
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

tr{
    background-color: #aa1414;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

